@tailwind base
@tailwind components
@tailwind utilities

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 255, 225;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.container {
  max-width: 600px;
  margin: 0 auto;
}


.timer {
  max-width: 600px;
  margin: 0 auto;
}

.timer-container {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
}

.timer-display {
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.timer-button {
  padding: 10px 20px;
  font-size: 18px;
}
